In [ ]:
from google.colab import files
uploaded= files.upload()

Saving Masterclass - The Basics Of Stock Market (Responses).csv to Masterclass - The Basics Of Stock Market (Responses).csv

In [ ]:
from google.colab import files
uploaded1= files.upload()

Saving Masterclass - The Basics Of Excel (Responses).csv to Masterclass - The Basics Of Excel (Responses).csv

In [ ]:
from google.colab import files
uploaded2= files.upload()

Saving Masterclass - Content Writing (Responses).csv to Masterclass - Content Writing (Responses).csv

In [ ]:
import pandas as pd
df1=pd.read_csv('Masterclass - The Basics Of Stock Market (Responses).csv')
df2=pd.read_csv('Masterclass - The Basics Of Excel (Responses).csv')
df3=pd.read_csv('Masterclass - Content Writing (Responses).csv')

In [ ]:
df1.drop(["Email address", "First Name", "Last Name", 
                            "WhatsApp Number","Timestamp"],axis=1, inplace = True)
df1 
f=df1

In [ ]:
 df2.drop(["Email address", "First Name", "Last Name", 
                            "WhatsApp Number","Timestamp"],axis=1, inplace = True)
df2 
i=df2

In [ ]:
df3.drop(["Email address", "First Name", "Last Name", 
                            "WhatsApp Number","Timestamp"],axis=1, inplace = True)
df3 
j=df3

In [ ]:
n=f.groupby(f.columns.tolist(),as_index=False).size()
n

              City  Month  size
0         AMRITSAR      9     1
1        Ahmadabad     10     1
2        Ahmedabad      9     3
3        Ahmedabad     10     1
4       Ahmednagar     10     1
..             ...    ...   ...
108  Visakhapatnam     10     4
109           pune      9     2
110           pune     10     2
111  ramganjmandi      10     1
112           ᴀɢʀᴀ      9     1

[113 rows x 3 columns]

In [ ]:
n['topic'] = 'basis of stock market'
n

              City  Month  size                  topic
0         AMRITSAR      9     1  basis of stock market
1        Ahmadabad     10     1  basis of stock market
2        Ahmedabad      9     3  basis of stock market
3        Ahmedabad     10     1  basis of stock market
4       Ahmednagar     10     1  basis of stock market
..             ...    ...   ...                    ...
108  Visakhapatnam     10     4  basis of stock market
109           pune      9     2  basis of stock market
110           pune     10     2  basis of stock market
111  ramganjmandi      10     1  basis of stock market
112           ᴀɢʀᴀ      9     1  basis of stock market

[113 rows x 4 columns]

In [ ]:
h1=n
h1.drop(['Month'], axis=1, inplace=True)
h1

              City  size                  topic
0         AMRITSAR     1  basis of stock market
1        Ahmadabad     1  basis of stock market
2        Ahmedabad     3  basis of stock market
3        Ahmedabad     1  basis of stock market
4       Ahmednagar     1  basis of stock market
..             ...   ...                    ...
108  Visakhapatnam     4  basis of stock market
109           pune     2  basis of stock market
110           pune     2  basis of stock market
111  ramganjmandi      1  basis of stock market
112           ᴀɢʀᴀ     1  basis of stock market

[113 rows x 3 columns]

In [ ]:
m=i.groupby(f.columns.tolist(),as_index=False).size()
m

             City  Month  size
0    ACCRA, GHANA     10     1
1       AHMEDABAD     10     1
2      AHMEDABAD      10     1
3           Accra     10     1
4    Accra, Ghana     10     1
..            ...    ...   ...
319         patna     10     1
320          pune     10     4
321    sangareddy     10     1
322        valsad     10     1
323          yobe     10     1

[324 rows x 3 columns]

In [ ]:
m['topic'] = 'basis of excel'
m

             City  Month  size           topic
0    ACCRA, GHANA     10     1  basis of excel
1       AHMEDABAD     10     1  basis of excel
2      AHMEDABAD      10     1  basis of excel
3           Accra     10     1  basis of excel
4    Accra, Ghana     10     1  basis of excel
..            ...    ...   ...             ...
319         patna     10     1  basis of excel
320          pune     10     4  basis of excel
321    sangareddy     10     1  basis of excel
322        valsad     10     1  basis of excel
323          yobe     10     1  basis of excel

[324 rows x 4 columns]

In [ ]:
h2=m
h2.drop(['Month'],axis=1, inplace=True)
h2

             City  size           topic
0    ACCRA, GHANA     1  basis of excel
1       AHMEDABAD     1  basis of excel
2      AHMEDABAD      1  basis of excel
3           Accra     1  basis of excel
4    Accra, Ghana     1  basis of excel
..            ...   ...             ...
319         patna     1  basis of excel
320          pune     4  basis of excel
321    sangareddy     1  basis of excel
322        valsad     1  basis of excel
323          yobe     1  basis of excel

[324 rows x 3 columns]

In [ ]:
o=j.groupby(j.columns.tolist(),as_index=False).size()
o

              City  Month  size
0       7847830902      9     1
1             Agra      8     1
2        Ahmedabad      9     4
3       Ahmedabad       9     1
4      Ahmednagar       9     1
..             ...    ...   ...
198      new delhi      9     1
199           pune      9     5
200    tirupattur       9     1
201       udhampur      9     1
202  visakhapatnam      9     1

[203 rows x 3 columns]

In [ ]:
o['topic'] = 'content writing'
o

              City  Month  size            topic
0       7847830902      9     1  content writing
1             Agra      8     1  content writing
2        Ahmedabad      9     4  content writing
3       Ahmedabad       9     1  content writing
4      Ahmednagar       9     1  content writing
..             ...    ...   ...              ...
198      new delhi      9     1  content writing
199           pune      9     5  content writing
200    tirupattur       9     1  content writing
201       udhampur      9     1  content writing
202  visakhapatnam      9     1  content writing

[203 rows x 4 columns]

In [ ]:
h3=o
h3.drop(['Month'],axis=1, inplace=True)
h3

              City  size            topic
0       7847830902     1  content writing
1             Agra     1  content writing
2        Ahmedabad     4  content writing
3       Ahmedabad      1  content writing
4      Ahmednagar      1  content writing
..             ...   ...              ...
198      new delhi     1  content writing
199           pune     5  content writing
200    tirupattur      1  content writing
201       udhampur     1  content writing
202  visakhapatnam     1  content writing

[203 rows x 3 columns]

In [ ]:
frames = [n, m, o]
result = pd.concat(frames)
result

              City  Month  size                  topic
0         AMRITSAR      9     1  basis of stock market
1        Ahmadabad     10     1  basis of stock market
2        Ahmedabad      9     3  basis of stock market
3        Ahmedabad     10     1  basis of stock market
4       Ahmednagar     10     1  basis of stock market
..             ...    ...   ...                    ...
198      new delhi      9     1        content writing
199           pune      9     5        content writing
200    tirupattur       9     1        content writing
201       udhampur      9     1        content writing
202  visakhapatnam      9     1        content writing

[640 rows x 4 columns]

In [ ]:
h1.describe()

             size
count  113.000000
mean     1.743363
std      2.043189
min      1.000000
25%      1.000000
50%      1.000000
75%      2.000000
max     16.000000

In [ ]:
h2.describe()

             size
count  324.000000
mean     2.027778
std      4.719615
min      1.000000
25%      1.000000
50%      1.000000
75%      1.000000
max     50.000000

In [ ]:
h3.describe()

             size
count  203.000000
mean     2.083744
std      4.618932
min      1.000000
25%      1.000000
50%      1.000000
75%      1.000000
max     45.000000

In [ ]:
import xlwt 
  
workbook = xlwt.Workbook()  
  
sheet = workbook.add_sheet("MKR DATA") 
  
# Specifying style 
style = xlwt.easyxf('font: bold 1') 
  
# Specifying column 
sheet.write(1170,3, 'SAMPLE', style) 
workbook.save("data_frames")

In [ ]:
pip install xlsxwriter

Collecting xlsxwriter
  Downloading https://files.pythonhosted.org/packages/6b/41/bf1aae04932d1eaffee1fc5f8b38ca47bbbf07d765129539bc4bcce1ce0c/XlsxWriter-1.3.7-py2.py3-none-any.whl (144kB)
     |████████████████████████████████| 153kB 2.6MB/s
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-1.3.7

In [ ]:
data= pd.DataFrame({'MKR DATASET': ["City","Month"]})
datatoexcel= pd.ExcelWriter("mkr.xlsx", engine='xlsxwriter')
data.to_excel(datatoexcel, sheet_name='Sheet1')
datatoexcel.save()

In [ ]:
df=pd.DataFrame(result,columns=['City','Month','size','topic'])
df.to_excel(r'C:\Users\kavya srivastava\Downloads\export_dataframe.xlsx',index=True)

In [ ]:
import numpy as np
np.mean(result)

Month    9.542188
size     1.995313
dtype: float64

In [ ]:
p=result
p.drop(['Month'],axis=1,inplace=True)

In [ ]:
sta=p.describe()
sta

             size
count  640.000000
mean     1.995313
std      4.330079
min      1.000000
25%      1.000000
50%      1.000000
75%      1.000000
max     50.000000

In [ ]:
df=pd.DataFrame(sta,columns=['size'])
df.to_excel(r'C:\Users\kavya srivastava\Downloads\export_dataframe.xlsx',index=True)

In [ ]:
from google.colab import files
open=files.upload()

Saving C__Users_kavya srivastava_Downloads_export_dataframe (2).xlsx to C__Users_kavya srivastava_Downloads_export_dataframe (2).xlsx

In [ ]:
import pandas as pd
t=pd.read_excel("C__Users_kavya srivastava_Downloads_export_dataframe (2).xlsx")

In [9]:
t.head()

   Unnamed: 0        City  Month  size                  topic
0           0    AMRITSAR      9     1  basis of stock market
1           1   Ahmadabad     10     1  basis of stock market
2           2   Ahmedabad      9     3  basis of stock market
3           3   Ahmedabad     10     1  basis of stock market
4           4  Ahmednagar     10     1  basis of stock market